<fieldset>
    <legend>Sign Up</legend>
    <form action="/signup" method="post">
        <input type="text" name="login">
        <input type="password" name="password">
        <input type="submit">
    </form>
</fieldset>

<br><br><br>

<fieldset>
    <legend>Sign in</legend>
    <form action="/signin" method="post">
        <input type="text" name="login">
        <input type="password" name="password">
        <input type="submit" >
    </form>
</fieldset>